language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.3"
  - "1.4"
  # PyPy versions
  - "pypy2.7"
  - "pypy3.5"
# command to install dependencies
  - pip install random
# command to run tests
script: python tictactoe-DS-AS-2018.py